
body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#c62828;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#1565c0;
text-align:center;
padding:10px;
}

nav button{
margin:5px;
padding:10px 15px;
border:none;
background:white;
cursor:pointer;
}

main{
padding:30px;
}

.page{
display:none;
background:white;
padding:20px;
border-radius:10px;
}

.progress-bar{
width:100%;
background:#ddd;
height:20px;
border-radius:10px;
}

#progress{
height:20px;
background:#4caf50;
width:0%;
border-radius:10px;
}

#certificate{
display:none;
margin-top:20px;
padding:30px;
border:3px solid black;
text-align:center;
background:#fffbe6;
}
